---
# SEO fields
seoTitle: "Joe Kent"
seoDescription: "I enjoy writing code, designing systems, and being a creative. I’m a leftist and New Yorker at heart."
seoCover: "/cover.jpg"

# Resource fields
baseStyleSheets: []
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="/joe.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{{ seoTitle }}</title>
    <meta name="title" content="{{ seoTitle }}" />
    <meta name="description" content="{{ seoDescription }}" />
    <meta property="og:url" content="https://joekent.com" />
    <meta property="og:image" content="{{ seoCover }}" />
    <meta name="twitter:title" content="{{ seoTitle }}" />
    <meta name="twitter:description" content="{{ seoDescription }}" />
    <meta name="twitter:image" content="{{ seoCover }}" />
    <meta name="twitter:card" content="summary" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/page.css">

    {% for styleSheet in baseStyleSheets %}
      <link rel="stylesheet" href="/css/{{ styleSheet }}">
    {% endfor %}
  </head>
  <body>
    {{ content }}
  </body>
</html>
