.home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  width: 100%;
  height: 100vh;
  background-color: var(--token-background-color);
  padding: 16px;
}

.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  width: 100%;
  min-height: 100%;
  max-width: var(--token-max-content-width);
}

.home h1, .home p {
  color: var(--token-text-color);
  text-align: center;
}

.home h1 {
  font-family: var(--font-title-family);
  font-weight: var(--font-title-bold-weight);
  font-size: 3.6rem;
}

.home h1 > span {
  background: var(--gradient-pink-to-orange);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;
}

.home p {
  font-family: var(--font-print-family);
  font-weight: var(--font-print-regular-weight);
  font-size: 1.4rem;
  letter-spacing: 0.01rem;
  line-height: 2.2rem;
}

@media (min-width: 768px) {
  .home {
    gap: 24px;
  }

  .home h1 {
    font-size: 5.2rem;
  }
}

@media (min-width: 1440px) {
  .home h1 {
    font-size: 9.6rem;
  }

  .home p {
    font-size: 3.2rem;
    line-height: 4rem;
  }
}
