.landing {
  display: flex;
  flex-direction: row;
  gap: 16px;
  width: 100%;
  height: 100vh;
  padding: 16px;
  z-index: var(--token-above-canvas-index);
  position: relative;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 16vh;
  width: 100%;
  min-height: 100%;
  max-width: 620px;
}

.landing h1 {
  width: fit-content;
  background: var(--gradient-pink-to-orange);
  background-clip: text;
  color: transparent;
  -webkit-background-clip: text;

  font-family: var(--font-title-family);
  font-weight: var(--font-title-bold-weight);
  font-size: 3.6rem;

  margin-bottom: 12px;
}

.landing p {
  color: var(--token-text-color);
  font-family: var(--font-print-family);
  font-weight: var(--font-print-light-weight);
  font-size: 1.6rem;
  letter-spacing: 0.01rem;
  line-height: 2.2rem;
  margin-bottom: 4px;
}

.landing p>b {
  font-weight: var(--font-print-semi-bold-weight);
}

.landing a {
  color: var(--color-pink);
}

.landing a:hover {
  color: var(--color-orange);
}

#canvas-controls {
  position: absolute;
  bottom: 24px;
  right: 24px;
  z-index: var(--token-above-canvas-index);

  font-family: var(--font-title-family);
  font-weight: var(--font-title-bold-weight);
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;

  color: var(--token-text-color);
  background: none;
  border: 2px solid var(--token-text-color);
  cursor: pointer;
}

#canvas-controls:hover {
  color: var(--token-background-color);
  background: var(--token-text-color);
}

#canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: var(--token-canvas-index);
}

@media (min-width: 620px) {
  .landing-content {
    padding-left: 16px;
  }
}

@media (min-width: 768px) {
  .landing {
    gap: 24px;
  }

  .landing h1 {
    font-size: 5.2rem;
  }

  .landing-content {
    padding-left: 28px;
  }
}

@media (min-width: 960px) {
  .landing-content {
    padding-left: 48px;
  }
}

