html {
  --font-title-family: Oswald, sans-serif;
  --font-title-bold-weight: 700;

  --font-print-family: Source Serif Pro, serif;
  --font-print-light-weight: 300;
  --font-print-regular-weight: 400;
  --font-print-semi-bold-weight: 600;
  --font-print-bold-weight: 700;

  --color-black-100: #413D3D;
  --color-black-200: #333131;
  --color-black-300: #272525;
  --color-black-400: #1B1A1A;
  --color-black-500: #171717;

  --color-white-100: #ffffff;
  --color-white-200: #F7F7F7;
  --color-white-300: #EEEEEE;
  --color-white-400: #E2E2E2;
  --color-white-500: #D3D3D3;

  --color-blue: #0979ee;
  --color-orange: #FF6A00;
  --color-pink: #EE0979;
  --color-violet: #7e09ee;

  --gradient-pink-to-orange: linear-gradient(90deg, var(--color-pink) 70.43%, var(--color-orange) 95.43%);

  --token-background-color: var(--color-white-100);
  --token-text-color: var(--color-black-500);

  --token-max-content-width: 860px;

  --token-canvas-index: 1;
  --token-above-canvas-index: 2;
  --token-nav-index: 10;
}

@media (prefers-color-scheme: dark) {
  html {
    --token-background-color: var(--color-black-500);
    --token-text-color: var(--color-white-100);
  }
}

* {
  box-sizing: border-box;
}

html {
  /* https://www.aleksandrhovhannisyan.com/blog/62-5-percent-font-size-trick/ */
  font-size: 62.5%;
}

html,
body {
  margin: 0;
}

nav {
  position: absolute;
  z-index: var(--token-nav-index);
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: 12px;
  padding: 16px 12px;
}

nav a {
  font-family: var(--font-title-family);
  font-weight: var(--font-title-bold-weight);
  font-size: 1.4rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-pink);
}

nav a:hover {
  color: var(--color-orange);
}

@media (min-width: 768px) {
  nav {
    padding: 16px 24px;
  }
}
